{% load static main_app_extras %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site_settings.school_name|default:"Madrasa Jamaliyah" }} | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,500;14..32,600;14..32,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/css/apple-theme.css' %}">
    {% include "includes/pwa_meta.html" %}
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'login_page' %}">
                <img src="{{ site_settings|site_logo_url:'full' }}" alt="{{ site_settings.school_name|default:'Madrasa Jamaliyah' }}"
                    style="max-width: 240px; width: 100%; height: auto;">
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
           
          {% block content %}
            
          {% endblock content %}
        </div>
    </div>
    <!-- /.login-box -->

    {% include "includes/pwa_register.html" %}

</body>

</html>
