{% load static %}
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/img/favicon-32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/img/favicon-16.png' %}">
<link rel="manifest" href="{% static 'pwa/manifest.json' %}">
<meta name="theme-color" content="#014AA9">
<link rel="apple-touch-icon" href="{% static 'pwa/icons/apple-touch-icon.png' %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Madrasa Jamaliyah">
<meta name="mobile-web-app-capable" content="yes">
