{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>
                                Upload a CSV file with a single <code>name</code> column, one course per row.
                                <a href="{% static 'samples/courses_template.csv' %}" download>Download a sample CSV</a>.
                            </p>
                            {{ form.csv_file.errors }}
                            <div class="form-group">
                                {{ form.csv_file }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Upload</button>
                            <a href="{% url 'add_course' %}" class="btn btn-secondary">Back to Add Course</a>
                        </div>
                    </form>
                    {% include "includes/bulk_upload_results.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
